.sidebar {
    width: 10%;
    background-color: #252636;
    position: fixed;
    height: 100%;
}




/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .navbar{
        width: 100%;
        margin-left: unset !important;
    }

    .sidebar li {margin-left: 5% !important;}
    div.content {margin-left: 0;}

    input{
        margin-right: 65% !important;
    }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
    }
}

.cornav {
    color: white !important;
    background-color: #3A3B4A !important;
}